mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 111;
  background: #f3f9f4;
  color: #3daea3;
}

h2 {
  cursor: pointer;
}

.logo {
  background-attachment: fixed;
  width: 100px;
  height: 100px;
}

.globo {
  background-attachment: fixed;
  width: 70px;
  height: 70px;
}
