<div class="container">
  <mat-toolbar>
    <mat-toolbar-row>
      <div fxLayout="row" fxFlex="20">
        <img src="assets/images/logo.png" class="logo">
      </div>
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="15px" fxFlex="75">
        <div fxFlex="6" fxLayoutAlign="start center">
          <h2>Ajuda</h2>
        </div>
        <div fxFlex="6" fxLayoutAlign="start center">
          <h2>Loja</h2>
        </div>
        <div fxFlex="6" fxLayoutAlign="start center">
          <mat-icon>
            <span class="material-icons" style="font-size: 36px; margin: -7px 0px 0 0px;">
              notifications
              </span>
          </mat-icon>
        </div>
        <div fxFlex="6" fxLayoutAlign="start center">
          <h2>Sair</h2>
        </div>
      </div>
      <div fxLayoutAlign="end center">
        <img src="assets/images/globo.png" class="globo">
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
